{% extends "FindWorkerBundle::layout.html.twig" %}

{% block content %}

</header>

 <div class="wrapper">
           <div class="form-projet-container">
               <div class="line-page">
                   <span>Vous avez un projet</span>
                   <br/>déposez le <strong>avec vos critères</strong>
               </div>
   				{{ form_start(form, {'attr' : { 'class' : 'form-projet'}}) }}
    			{{ form_errors(form) }}

    		{{ form_row(form.title) }}
    		{{ form_row(form.description) }}
    		{{ form_row(form.skills) }}
            <div class="clearfix"></div>
{{ form_end(form) }}


           </div>
       </div>


{% endblock %}

